<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>기술 목록</title>
</head>
<body>
    <h1>기술 목록</h1>

    <form action="/add" method="post">
        <input type="text" name="name" placeholder="기술명" required>
        <input type="text" name="status" placeholder="상태" required>
        <button type="submit">추가</button>
            <button
        type="submit"
        form="delete-selected-form"
        onclick="return confirm('체크한 기술들을 삭제할까요?');"
>
        선택 기술 삭제
    </button>
    </form>

    <hr>

    <form id="delete-selected-form" action="/delete_selected" method="post"></form>

    <ul>
        {% for skill in skills %}
            <li>
                <input
                    type="checkbox"
                    name="selected_ids"
                    value="{{ skill['id'] }}"
                    form="delete-selected-form"
>

                {{ skill["id"] }}.
                {{ skill["name"] }}
                -
                {{ skill["status"] }}

                <a href="/edit/{{ skill['id'] }}">수정</a>

                <form action="/delete/{{ skill['id'] }}" method="post" style="display:inline;">
                    <button
                        type="submit"
                        onclick="return confirm('정말 삭제하시겠습니까?');"
>
                        삭제
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>